.ui-tooltip {
	opacity: 0.8;
}

.control:hover { 
  /*cursor:pointer;*/
}

.text {
	font-family: Crystal;
	display:none;
}

#map {
	/*background: url('../img/voltmeter.png') no-repeat;
	/*z-index: 1;*/
	/*position: relative;
	top: 50px;*/
}
  
#path, #path_min, #recomend, #idea_path {
	display:none;
}

.xaxisLabel {
	/*margin-top: 20px;*/
}

.yaxisLabel {
	margin-left: 30px;
}

/*#placeholder {
  display: none;
  position: absolute;
  top: 160px;
  left: 110px;
  width: 555px;
  height: 175px;
  
  background-image: url(cnt90/empty_monitor.png);
}*/
