.tts_block, .ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: "Trebuchet MS";
}

#map {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    position: relative;
    min-height: 55px;
}

#map img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

svg {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 3;
}

#voltmeter {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
}

.indicators, .controllers {
    visibility: hidden;
    width: 100%;
    height: auto;
    position: absolute; top: 0; left: 0;
    z-index: 2;
}

area {
    cursor: pointer;
    position: absolute;
    z-index: 4;
}

/*
#tabs {
    font-size: 17px;
}
*/
#tabs .ui-tabs-panel {
    min-height: 200px;
    height: 550px;
    overflow: auto;
    width: auto;
}
/*
#tab-1, #tab-2 {
    font-size: 80%;
    width: 100%;
}*/

#tab-2 {
    padding: 20px;
}

#tab-1 h2 {
    font-weight: bold;
    font-size: 140%;
}

#state_list {
    line-height: 25px;
}

#tutorDialog {
    height: 130px;
}

#tutorDialog input {
    margin-left: 10px;
}

input[type=radio] {
    margin: 0 10px;
}

input[class=tts_switch] {
    margin: 0 10px;
}

.qtip-content{
    text-align: justify;
    font-size: 13px;
    max-width: 500px;
}

.qtip-titlebar {
    font-size: 16px;
}

#tab-2 table {
    width: auto;
    font-weight: normal;
    color: #555555;
    font-size: 17px;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    border: #ccc 1px solid;

    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
#tab-2 table tr:first-child {
    font-family: "Cambria Math";
}

#tab-2 table th {
    padding:21px 25px 22px 25px;
    border: 1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
#tab-2 table th:first-child {
    text-align: left;
    padding-left:20px;
}
#tab-2 table tr:first-child th:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
#tab-2 table tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
#tab-2 table tr {
    text-align: center;
    padding-left:20px;
}
#tab-2 table td:first-child {
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
#tab-2 table td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
#tab-2 table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
#tab-2 table tr:last-child td {
    border-bottom:0;
}
#tab-2 table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
#tab-2 table tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}